  <nav class="navbar navbar-inverse navbar-default samp-second-navbar" role="navigation">
    <div class="container">
      <div class="navbar-collapse">
        <p ng-hide="optLine" class="navbar-text">Selecione os pontos de origem e destino no mapa.</p>
        <form ng-show="optLine" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </nav>
