<div class="modal fade" id="bus_lines" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Linhas de Ônibus</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Origem</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="origin" ng-options="region.name for region in regions">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Destino</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="destination" ng-options="region.name for region in regions">
              </select>
            </div>
          </div>
        </form>
        <table class="table table-hover" ng-show="lines">
          <thead>
            <tr>
              <th>Linha</th>
              <th>Regiões</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="line in lines" ng-click="selectLine(line)">
              <td>{$ line.name $}</td>
              <td>{$ line.regions $}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button ng-click="search()" type="button" class="btn btn-default">Pesquisar</button>
      </div>
    </div>
  </div>
</div>
